#dialog_box {
	width: 100%;
	height: 100%;
	background-image: url('../../images/loading_bg.png');
	position: fixed;
	top: 0px;
	left: 0px;
}

#dialog_box table {
	width: 100%;
	height: 100%;
}

#dialog_box td {
	vertical-align: middle;
}

#dialog_box_content {
	display: block;
	margin: 0px auto;
	padding: 20px;
	width: 12em;
	background-color: white;
	text-align: center;
}

#dialog_box_positive,
#dialog_box_negative {
	border: 1px solid red;
	padding: 7px 5px;
	margin: 10px;
}